html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  overflow: inherit;
  background: url(http://pic1.win4000.com/wallpaper/d/59014d3e879e7.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: none;
  background: none;
  width: 100%;
  outline: none;
}

a {
  text-decoration: none !important;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

#max-control {
  max-width: 45rem;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

.container {
  background-color: #fff;
}

/*背景图*/
#bg-pre {
  background: #454545 url(http://suo.im/5mIw26) no-repeat center;
  background-size: cover;
  display: inline-block;
  height: 27rem;
  width: 100%;
}

#bg-ipt {
  display: inline-block;
  /*让输入框转为块级元素，否则不能设置宽高*/
  width: 100%;
  height: 100%;
  z-index: 10;
  /*让输入框高一点*/
  opacity: 0;
  /*透明度为0*/
}

/*大网名*/
.name-b {
  font-size: 1.6rem;
  position: absolute;
  top: 23rem;
  right: 12rem;
  color: #fff;
  width: 10rem;
  text-align: right;
}

/*头像*/
#avatar-pre-b {
  background: #454545 url(http://suo.im/5mIw26) no-repeat center;
  background-size: cover;
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  position: absolute;
  right: 3rem;
  margin-top: -5rem;
  box-shadow: 0 0 5px #fff;
}

#ava-ipt-b,
#ava-ipt-s {
  opacity: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}

/*mid begin*/
.mid {
  margin-top: 3rem;
  background-color: #fff;
}

.line {
  width: 90%;
  margin-left: 5%;
  height: 1px;
  background-color: #cbc1c1;
}

.mid span {
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 0 1rem 6rem;
}

/*body*/
.body {
  margin-top: 1.5rem;
  margin-left: 6rem;
  background-color: #fff;
}

.body .name-s {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 50%;
}

.body textarea {
  font-size: 1.4rem;
  letter-spacing: 2px;
  height: 8rem;
  line-height: 2rem;
  width: 90%;
  background: none;
  z-index: 1454545;
  overflow: hidden;
}

/*小头像*/
#avatar-pre-s,
.motto-avatar {
  background: #454545 url(http://suo.im/5mIw26) no-repeat center;
  background-size: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
  position: absolute;
  left: 1rem;
}

.motto-avatar {
  background: #454545 url(https://study.chenmo1212.site/images/yiyan.jpg) center center no-repeat;
  background-size: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
}

/*推送*/
.content-main {
  overflow: hidden;
}

.article {
  background-color: #fff;
  overflow: hidden;
}

/*封面*/
.article .cover {
  position: absolute;
  background: #ddd url(https://study.chenmo1212.site/images/0901.png) center center no-repeat;
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
}

.article .content {
  background-color: #eee;
  height: 4.5rem;
  width: 23.5rem;
  margin-left: 5rem;
}

.article textarea {
  margin-left: 4px;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 110%;
  height: 4rem;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.90);
}

.delete {
  font-size: 1.4rem;
  border: none;
  margin-top: 0.5rem;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.90);
}

.delete i {
  font-style: normal;
  color: blue;
}

.point {
  position: absolute;
  right: 2rem;
  margin-top: -2rem;
  background-color: #eee;
  padding: 3px 3px;
  border-radius: 3px;
  height: 0.7rem;
}

.point span {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 0.7rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #eeeeee;
  margin: 0 auto;
  margin: 1rem 0;
}

.motto p {
  width: 90%;
  font-size: 1.4rem;
  cursor: pointer;
}

.tip_modal,
.pic_modal,
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.zhezhao {
  position: fixed;
  left: 0px;
  top: 0px;
  background: #454545;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.modal .tankuang,
.pic_modal .tankuang,
.tip_modal .tankuang {
  position: absolute;
  background: #fff;
  width: 70%;
  height: auto;
  min-height: 20rem;
  border-radius: 5px;
  top: 20%;
  left: 15%;
  padding: 1rem 0 7rem;
}

.loading .tankuang {
  position: absolute;
  background: #fff;
  /* width: 70%; */
  padding: 0 4rem;
  /* height: auto; */
  /* min-height: 20rem; */
  border-radius: 5px;
  top: 30%;
  left: 50%;
  margin-left: -6rem;
}

.tip_modal .tankuang {
  min-height: auto;
  top: 30%;
  left: 15%;
  padding: 1rem 0;
}

.pic_modal .tankuang {
  min-height: auto;
  top: 3%;
  left: 5%;
  width: 90%;
  padding: 0.5rem 0;
}

.modal #header,
.pic_modal #header,
.tip_modal #header {
  height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.modal #header-right {
  position: absolute;
  width: 9rem;
  height: 3.6rem;
  line-height: 3.6rem;
  border-radius: 5px;
  background: #e7e9ef;
  color: #444;
  bottom: 20px;
  font-size: 1.4rem;
  left: 50%;
  text-align: center;
  margin-left: -4.5rem;
  cursor: pointer;
}

.pic_modal .btn,
.tip_modal .btn {
  padding: 2rem 2rem 1rem 3rem;
  text-align: center;
}

.pic_modal .btn {
  padding: 0.5rem 0 0;
}

.tip_modal .btn span {
  cursor: pointer;
  padding: 0 3rem;
  font-size: 1.4rem;
}

.modal .content,
.pic_modal .content,
.tip_modal .content {
  font-size: 1.4rem;
  padding: 0px 2rem 0 3rem;
}

.pic_modal .content {
  padding: 0 1rem 0;
}

.pic_modal .content img {
  width: 100%;
}

ol>li {
  margin-top: 10px;
}

.motto {
  padding-bottom: 20px;
}

#footer {
  width: 26rem;
  height: 20px;
  line-height: 20px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -13rem;
}

.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
